/* Загальні стилі */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #333;
}

/* Стилі для шапки */
header {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 20px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
    animation: slideDown 1s ease-out;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 10px 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #22a2c2;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Анімація для заголовка */
@keyframes slideDown {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Основний контент */
main {
    padding: 30px;
    background-color: #f0f8ff;
}

h2 {
    font-size: 2rem;
    color: #2980b9;
    margin-bottom: 20px;
}

/* Стилі для кожної секції Git */
section {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    animation: fadeIn 1s ease-out;
}

.git-info p, .git-features ul, .git-commands ol, .git-certificate p, .git-sources ul {
    color: #555;
    line-height: 1.6;
}

ul {
    padding-left: 20px;
}

ul li {
    margin-bottom: 10px;
    list-style-type: disc;
}

ol {
    padding-left: 20px;
}

ol li {
    margin-bottom: 10px;
    list-style-type: decimal;
}

code {
    background-color: #ecf0f1;
    padding: 2px 6px;
    border-radius: 4px;
}

/* Стилі для посилань у списку джерел */
.git-sources ul li a {
    color: #2980b9;
    text-decoration: none;
}

.git-sources ul li a:hover {
    text-decoration: underline;
}

/* Стилі для блоку сертифікату */
.git-certificate p {
    font-size: 1.2rem;
    text-align: center;
    font-weight: bold;
}

/* Анімація для секцій */
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Підвал */
footer {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 40px;
}
.linux-logo {
    display: block;
    margin: 0 auto 40px;
    max-width: 200px;
    height: auto;
}
.linux-logo1 {
    display: block;
    margin: 0 auto 100px;
    max-width: 1000px;
    height: auto;
}
